.hide {
    display: none;
}
.data-collection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    nav {
        align-self: center;
    }
    .data-collection-top-bar {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .data-collection-container-view {
        display: flex;
        flex-direction: column;
        .data-collection-container-select{
            width: 75px;
        }
    }
    .data-collection-container-filter {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        .data-collection-container-filter-main {
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            .icon-remove-filter {
                cursor: pointer;
                right: 0;
                position: absolute;
                display: flex;
                height: 100%;
                margin: 0 15px;
                align-items: center;
                z-index: 1;
            }
            .icon-toggle-filter-modal {
                margin-left: 5px;
                cursor: pointer;
            }
            .data-collection-container-filter-main-group-input{
                padding-right: 10px;
                width: auto;
            }
        }
    }
    .data-collection-container-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    .data-collection-table {
        margin-top: 10px;
        .icon-sort {
            margin-left: 5px;
            cursor: pointer;
        }
    }

    .button-delete {
        padding: 0.25rem 0.5rem;
        font-size: 0.76563rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        margin: 0px 5px;
    }
}
    
.filter_modal_add_button {
    margin-top: 10px;
    text-align: center;
}
.waspmote{
    margin: 0px 5px;
    .waspmote-img{
        height: 250px;
        background: rgba(#ffffff, 0.15);
        border-radius: 4px;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .waspmote-content {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        background: rgba(255, 255, 255, 0.15);
        padding: 9px;
        border: solid 1px #a8b7a8;
        border-radius: 5px;
        .waspmote-content-column {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }
        .waspmote-content-left {
            i {
                margin-right: 5px;
            }
        }
        .waspmote-content-left-row {
            white-space: nowrap;
        }
        .waspmote-content-right-row {
            margin-left: auto;
            span {
                margin-right: 5px;
            }
        }
    }
}
.field-wrapper-custom {
    position: relative;
}
.image-field-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    .image-field-col {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
        .image-wrapper{
            padding: 10px;
            width: 220px;
            height: 220px;
            background: rgba(#000000, 0.15);
            border-radius: 4px;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.fileContainer .uploadPictureContainer {
    width: 60%!important;
}
.form-field {
    width: 100%;
    margin-bottom: 10px;
}

.algorithm-parameter-card {
    .card-body {
        .row {
            justify-content: center;
        }
    }
}
.display-radio {
    legend {
        font-weight: 500;
        font-size: 0.875rem!important;
    }
}