.data-collection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    nav {
        align-self: center;
    }
    .data-collection-top-bar {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .data-collection-container-view {
        display: flex;
        flex-direction: column;
        .data-collection-container-select{
            width: 75px;
        }
    }
    .data-collection-container-filter {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        .data-collection-container-filter-main {
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            .icon-remove-filter {
                cursor: pointer;
                right: 0;
                position: absolute;
                display: flex;
                height: 100%;
                margin: 0 15px;
                align-items: center;
                z-index: 1;
            }
            .icon-toggle-filter-modal {
                margin-left: 5px;
                cursor: pointer;
            }
            .data-collection-container-filter-main-group-input{
                padding-right: 10px;
                width: auto;
            }
        }
    }
    .data-collection-container-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    .data-collection-table {
        margin-top: 10px;
        .icon-sort {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}
    
.filter_modal_add_button {
    margin-top: 10px;
    text-align: center;
}
.waspmote{
    margin: 0px 5px;
    .waspmote-img{
        height: 250px;
        background: rgba(#ffffff, 0.15);
        border-radius: 4px;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.image-field-col {
    display: flex;
    justify-content: center;
    align-items: center;
    .image-wrapper{
        padding: 10px;
        width: 220px;
        height: 220px;
        background: rgba(#000000, 0.15);
        border-radius: 4px;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
        }
    }
}