.hide {
    display: none;
}
.data-collection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    nav {
        align-self: center;
    }
    .data-collection-top-bar {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .data-collection-container-view {
        display: flex;
        flex-direction: column;
        .data-collection-container-select{
            width: 75px;
        }
    }
    .data-collection-container-filter {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        .data-collection-container-filter-main {
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            .icon-remove-filter {
                cursor: pointer;
                right: 0;
                position: absolute;
                display: flex;
                height: 100%;
                margin: 0 15px;
                align-items: center;
                z-index: 1;
            }
            .icon-toggle-filter-modal {
                margin-left: 5px;
                cursor: pointer;
            }
            .data-collection-container-filter-main-group-input{
                padding-right: 10px;
                width: auto;
            }
        }
    }
    .data-collection-container-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    .data-collection-table {
        margin-top: 10px;
        .icon-sort {
            margin-left: 5px;
            cursor: pointer;
        }
    }

    .button-delete {
        padding: 0.25rem 0.5rem;
        font-size: 0.76563rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        margin: 0px 5px;
    }
    .sensor-item {
        margin: 0px 5px;
    }
}
    
.filter_modal_add_button {
    margin-top: 10px;
    text-align: center;
}
.waspmote{
    margin: 0px 5px;
    .waspmote-img{
        height: 250px;
        background: rgba(#ffffff, 0.15);
        border-radius: 4px;
        text-align: center;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .waspmote-content {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
        background: rgba(255, 255, 255, 0.15);
        padding: 9px;
        border: solid 1px #a8b7a8;
        border-radius: 5px;
        .waspmote-content-column {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
        }
        .waspmote-content-left {
            i {
                margin-right: 5px;
            }
        }
        .waspmote-content-left-row {
            white-space: nowrap;
        }
        .waspmote-content-right-row {
            margin-left: auto;
            span {
                margin-right: 5px;
            }
        }
        .icon-active {
            color: #32d136;
        }
        .icon-deactive {
            color: #6c757d;
        }
    }
}
.field-wrapper-custom {
    position: relative;
    .label-type-1 {
        background-color: #ffffff;
        padding: 0px 5px;
        transform: translate(14px, -6px) scale(0.75);
        z-index: 1;
        pointer-events: none;
        transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        transform-origin: top left;
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        color: rgba(0, 0, 0, 0.54);
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.00938em;
    }
    .label-type-2 {
        background-color: #ffffff;
        padding: 0px 5px;
        transform: translate(14px, -37.5%) scale(0.75);
        z-index: 1;
        pointer-events: none;
        transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        transform-origin: top left;
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        color: rgba(0, 0, 0, 0.54);
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.00938em;
    }
    .field-border {
        border-color: rgba(0, 0, 0, 0.23);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0 8px;
        overflow: hidden;
        position: absolute;
        border-style: solid;
        border-width: 1px;
        border-radius: inherit;
        pointer-events: none;
    }
}
.image-field-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    .image-field-col {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
        .image-wrapper{
            padding: 10px;
            width: 220px;
            height: 220px;
            background: rgba(#000000, 0.15);
            border-radius: 4px;
            text-align: center;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.fileContainer .uploadPictureContainer {
    width: 60%!important;
}

.wrapper-item-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.algorithm-parameter-card {
    .card-body {
        .row {
            justify-content: center;
        }
    }
}
.display-radio {
    legend {
        font-weight: 500;
        font-size: 0.875rem!important;
    }
}
// Chart
.chart-container {
    .chart-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}
// Device Page
.col-device-view {
    padding: 20px 12px!important;
}
.device-view {
    height: 100%;
    .device-container {
        overflow-x: scroll;
        height: 100%;
        .device-row {
            display: flex;
            padding: 15px 0px;
            .device-image {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 15px;
                .image-wrapper{
                    padding: 10px;
                    width: 220px;
                    height: 220px;
                    background: rgba(#000000, 0.15);
                    border-radius: 4px;
                    text-align: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .device-info {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}
.tooltip-content-container {
    display: flex;
    flex-direction: column;
}
// Comparision Page Css
.compararision-page-card-header {
    display: flex;
    flex-direction: row;
    .error-rate {
        align-items: center;
        margin-left: 10px;
    }
}
.double-chart-wrapper {
    .double-chart-child-wrapper {
        .double-chart-child-header {
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .double-chart-child-wrapper:last-child {
        margin-top: 20px;
    }
}

.single-chart-wrapper {
    .single-chart-child-wrapper {
        .single-chart-child-header {
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}

// FORM CSS

.form-session-header {
    position: relative;
    padding: 10px 0px;
    span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -50%) scale(0.75);
        z-index: 1;
        background-color: #ffffff;
        padding: 0px 10px;
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.54);
    }
    .form-session-header-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: solid 1px hsl(0,0%,80%);
        background-color: hsl(0,0%,80%);
    }
}

.form-session-body {
    margin-top: 10px;
}

.form-field {
    width: 100%;
    margin-bottom: 20px;
}

//Custom style library 

.select__menu {
    z-index: 2!important;
}